div.post {
    display: block;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: auto;
    margin: 20px;
    padding: 0;
    max-width: 40%;
}
div.content {
    margin: 0;
    padding: 10px;
}
div.container {
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
a {
    color: black;
    text-decoration: none;
}

hr {
    border: 0;
    border-bottom: 1px solid #bbb;
    box-shadow: 0;
}


h2 {
    margin-bottom: 10px;
}

p.top {
    margin: 10px;
    text-align: right;
    color: #777;
    font-size: 70%;
}

h3 {
    margin: 5px;
    color: #369;
}
button{
    
}

.img-container {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    position: relative;
    max-height: 280px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}