<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span><a routerLink="">L3-vi's blog</a></span>
        <span class="example-spacer"></span>
        <button mat-raised-button color="accent"><a routerLink="">Topics</a></button>
        <button mat-raised-button color="accent"><a routerLink="">Home</a></button>
        <button mat-raised-button color="accent"><a routerLink="about">About</a></button>
    </mat-toolbar>
</p>